<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfxEZs7CJgYgq7VL4wrxQ1VRQo-XwsYYc</string>
	<key>GCM_SENDER_ID</key>
	<string>595941136127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ailiotte</string>
	<key>PROJECT_ID</key>
	<string>ailiotee</string>
	<key>STORAGE_BUCKET</key>
	<string>ailiotee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595941136127:ios:4cd0d9ac3ee4dc4efe1eca</string>
</dict>
</plist>